@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

/* @custom-variant dark (&:is(.dark *)); */

@theme {
  --default-font-family: "Inter Variable", var(--font-sans), var(--font-serif), var(--font-mono);  
  
  /* Brand */
  --color-brand-base: #1f6f43;
  --color-brand-dark: #124b2b;

  /* Grayscale */
  --color-gray-100: #f8f9fa;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #111827;

  /* Neutral */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-danger: #ef4444;
  --color-success: #19ad70;

  /* Colors */
  --color-primary: var(--color-brand-base);
  --color-primary-dark: var(--color-brand-dark);
  --color-blue-dark: #1d4ed8;
  --color-blue-base: #2563eb;
  --color-blue-light: #dbeafe;
  --color-pink-dark: #be185d;
  --color-pink-base: #db2777;
  --color-pink-light: #fce7f3;
  --color-orange-dark: #c2410c;
  --color-orange-base: #ea580c;
  --color-orange-light: #ffedd5;
  --color-green-dark: #15803d;
  --color-green-base: #16a34a;
  --color-green-light: #d1fae5;
  --color-purple-dark: #7e22ce;
  --color-purple-base: #9333ea;
  --color-purple-light: #f3e8ff;
  --color-red-dark: #b91c1c;
  --color-red-base: #dc2626;
  --color-red-light: #fee2e2;
  --color-yellow-dark: #a16207;
  --color-yellow-base: #ca8a04;
  --color-yellow-light: #f7f3ca;
}

:root {
  
}

@layer base {
  /* 1. Use a more-intuitive box-sizing model */
  *, *::before, *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  *:not(dialog) {
    margin: 0;
  }

  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-gray-100);
  }

  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }

  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  /* 10. Create a root stacking context */
  #root, #__next {
    isolation: isolate;
  }
  
  input,
  input::focus {
    outline: none;
  }
} 
